@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: rgb(202,3,3);
    --secondary-color:#D9D9D9;
}

.hero-section{
    background: linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.603)), url('./assets/img/wallpaper/Wall_1.jpg'), no-repeat;
    background-position: center;
    background-size: cover;
}

.slider{
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 46% 100%);
}

.slider-2{
    clip-path: polygon(46% 0, 100% 0, 100% 100%, 60% 100%);
}

.services{
    background: linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.603)), url('./assets/img/wallpaper/Wall_2.jpg'), no-repeat;
    background-position: center;
    background-size: cover;
}

.text-animation {
    animation: slideIn 1s ease-in-out forwards;
}
  
  
@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.background{
    background: linear-gradient(rgba(0, 0, 0, 0.608),rgba(0, 0, 0, 0.608)),url('./assets/images/services-2.png');
}
  
  
  .rotate {
    animation: rotation 12s linear infinite;
  }
  
  .linear {
    animation-timing-function: linear;
  }
  
  .infinite {
    animation-iteration-count: infinite;
  }
  
  .slidedesign{
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
  }
  
  
.image {
    position: absolute;
    -webkit-animation:spin 12s linear infinite;
    -moz-animation:spin 12s linear infinite;
    animation:spin 12s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}

@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.clip-border{
  clip-path: polygon(49% 1%, 0% 100%, 100% 100%);
  /* clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);*/

}

.scroll-bar-hidden{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scroll-bar-hidden::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.warranty{
  clip-path: polygon(0 0, 100% 0, 90% 49%, 100% 100%, 0 100%, 10% 49%);
}

.offer{
  clip-path: polygon(0 0, 100% 0%, 85% 50%, 100% 100%, 0 100%);
}

.offer-right{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 15% 50%);
}

.right-slid{
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
}

.background{
  background: linear-gradient(rgba(0, 0, 0, 0.708),rgba(0, 0, 0, 0.708)),url('./assets/images/services-2.png');
}

/*swipper*/
.swiper {
  width: 300px;
  height: 250px;
  position: absolute;

}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.active {
  background-color: #EB3300; 
  color: white;
}
