#hero-section{
    background: linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.603)), url('../img/wallpaper/Wall_1.jpg'), no-repeat;
    background-position: center;
    background-size: cover;
}

.slider{
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 46% 100%);
}

#services{
    background: linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.603)), url('../img/wallpaper/Wall_2.jpg'), no-repeat;
    background-position: center;
    background-size: cover;
}